<div class="wrapper">
  <div class="header">
    <span class="title">Design Templates</span>
    <span class="description"
      >Download a blank design template top get started in Photoshop,
      Illustrator or InDesign.</span
    >
  </div>
  <span class="content-header">Choose your design application</span>
  <div class="content">
    <select>
      <option value="" disabled selected>Select one</option>
      <!-- <option value="hurr">Durr</option> -->
    </select>
    <button>Download</button>
  </div>
</div>
