<div class="wrapper">
  <div class="header">
    <span class="title">Design Templates</span>
    <span class="description"
      >Download a blank design template top get started in Photoshop,
      Illustrator or InDesign.</span
    >
  </div>
  <span class="content-header">Choose your design application</span>
  <div class="content">
    <select required [(ngModel)]="selectedFile">
      <option disabled selected>Select one</option>
      <option *ngFor="let file of files" [ngValue]="file.fileName"
        >{{file.option}}</option
      >
    </select>
    <button (click)="downloadFile()">Download</button>
  </div>
</div>
